<a href="https://colab.research.google.com/github/Vignesh424/WWE_Super_Card/blob/main/WWE_SuperCard_DecisionTree_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd
import numpy as np

In [36]:
data=pd.read_excel('/content/WWE Super Card.xlsx')

In [37]:
data.shape

(220, 8)

In [38]:
data.head()

         Superstar  Gender     POW     TGH     SPD     CHA    Total Group
0        Adam Cole    Male  269.96  270.46  268.40  272.10  1080.92    WM
1             Akam    Male  269.85  268.93  265.62  265.29  1069.69    WM
2   Aleister Black    Male  269.03  271.20  269.62  267.33  1077.18    WM
3      Alexa Bliss  Female  268.08  265.62  269.55  267.10  1070.35    WM
4  Alexander Wolfe    Male  268.17  266.86  262.53  264.63  1062.19    WM

In [39]:
data.describe().round()

         POW    TGH    SPD    CHA   Total
count  220.0  220.0  220.0  220.0   220.0
mean   271.0  270.0  270.0  270.0  1081.0
std     64.0   64.0   65.0   64.0   257.0
min    182.0  179.0  180.0  178.0   727.0
25%    193.0  191.0  190.0  191.0   759.0
50%    270.0  270.0  269.0  269.0  1077.0
75%    344.0  344.0  343.0  344.0  1378.0
max    353.0  354.0  351.0  354.0  1400.0

In [40]:
data.head()

         Superstar  Gender     POW     TGH     SPD     CHA    Total Group
0        Adam Cole    Male  269.96  270.46  268.40  272.10  1080.92    WM
1             Akam    Male  269.85  268.93  265.62  265.29  1069.69    WM
2   Aleister Black    Male  269.03  271.20  269.62  267.33  1077.18    WM
3      Alexa Bliss  Female  268.08  265.62  269.55  267.10  1070.35    WM
4  Alexander Wolfe    Male  268.17  266.86  262.53  264.63  1062.19    WM

In [41]:
X=data.iloc[:,2:6].values
Y=data.iloc[:,6].values

In [42]:
X

array([[269.96, 270.46, 268.4 , 272.1 ],
       [269.85, 268.93, 265.62, 265.29],
       [269.03, 271.2 , 269.62, 267.33],
       [268.08, 265.62, 269.55, 267.1 ],
       [268.17, 266.86, 262.53, 264.63],
       [270.72, 267.44, 273.02, 269.74],
       [270.15, 268.73, 265.12, 267.55],
       [271.3 , 270.31, 265.98, 266.84],
       [266.49, 267.81, 270.43, 271.74],
       [268.5 , 269.81, 270.46, 271.78],
       [268.53, 267.22, 265.91, 264.6 ],
       [271.92, 270.61, 266.67, 267.98],
       [269.87, 267.45, 270.96, 267.02],
       [273.18, 271.84, 267.8 , 268.1 ],
       [272.49, 270.91, 269.41, 273.73],
       [275.38, 272.76, 271.12, 268.83],
       [266.42, 265.27, 268.88, 267.73],
       [269.66, 268.41, 267.43, 266.05],
       [271.6 , 270.87, 267.65, 268.38],
       [271.25, 267.71, 266.73, 269.61],
       [267.75, 269.55, 271.52, 273.98],
       [265.03, 267.03, 269.16, 268.47],
       [271.99, 268.79, 269.64, 270.5 ],
       [267.59, 265.49, 267.06, 263.92],
       [266.09, 268.61, 270.02, 266.84],
       [269.68, 270.6 , 267.19, 267.84],
       [268.94, 267.47, 272.55, 270.09],
       [269.07, 271.66, 270.39, 267.93],
       [268.7 , 270.34, 271.2 , 266.93],
       [268.24, 269.52, 264.89, 263.62],
       [267.51, 269.93, 268.69, 266.26],
       [272.33, 268.39, 270.76, 269.44],
       [271.87, 270.89, 267.94, 270.22],
       [269.61, 270.91, 265.87, 267.05],
       [267.24, 270.59, 272.22, 269.01],
       [266.66, 270.07, 270.86, 267.71],
       [267.37, 270.  , 269.34, 266.72],
       [269.12, 268.38, 265.04, 265.77],
       [266.71, 267.04, 270.65, 269.03],
       [267.27, 265.7 , 268.32, 264.65],
       [267.82, 269.13, 267.95, 266.64],
       [268.24, 271.2 , 267.39, 270.34],
       [266.39, 268.03, 270.  , 269.01],
       [271.06, 270.15, 268.48, 267.48],
       [265.72, 269.97, 270.96, 268.66],
       [267.96, 265.4 , 263.76, 267.11],
       [269.08, 266.95, 264.92, 266.85],
       [268.71, 272.06, 267.47, 270.81],
       [271.49, 270.17, 272.53, 268.6 ],
       [268.82, 269.58, 271.59, 272.8 ],
       [266.55, 268.28, 273.04, 271.24],
       [268.33, 269.61, 265.51, 264.36],
       [271.15, 269.58, 267.22, 268.53],
       [272.95, 270.32, 269.01, 274.26],
       [266.67, 269.29, 271.26, 269.95],
       [270.  , 265.47, 266.72, 271.24],
       [271.27, 268.57, 269.95, 267.39],
       [272.67, 271.55, 268.73, 269.85],
       [272.21, 268.61, 270.59, 267.63],
       [269.2 , 270.51, 273.13, 271.82],
       [270.9 , 268.93, 268.28, 266.31],
       [271.36, 269.69, 267.16, 268.97],
       [266.08, 270.54, 269.1 , 271.46],
       [271.87, 268.36, 269.48, 271.21],
       [269.81, 265.88, 268.17, 271.44],
       [271.07, 272.39, 267.14, 268.45],
       [268.18, 265.42, 267.  , 269.75],
       [267.31, 270.32, 266.78, 269.01],
       [268.45, 266.55, 266.61, 264.32],
       [270.83, 266.86, 269.45, 268.17],
       [271.08, 266.48, 269.1 , 272.39],
       [272.35, 270.72, 268.44, 269.41],
       [270.26, 266.32, 269.08, 267.77],
       [267.54, 265.87, 270.65, 269.37],
       [263.65, 264.83, 267.58, 266.14],
       [348.87, 343.56, 350.91, 346.76],
       [345.38, 348.16, 346.14, 343.19],
       [347.55, 343.34, 350.51, 346.29],
       [342.65, 340.96, 346.86, 345.18],
       [348.02, 346.2 , 341.56, 344.68],
       [350.21, 348.94, 343.37, 344.47],
       [351.43, 349.74, 346.37, 347.38],
       [342.72, 344.41, 347.78, 349.47],
       [345.3 , 346.98, 347.83, 349.51],
       [349.09, 347.4 , 342.34, 344.03],
       [346.87, 344.97, 342.64, 341.16],
       [352.52, 350.79, 345.61, 345.99],
       [345.58, 343.98, 342.72, 340.95],
       [348.63, 347.69, 343.55, 344.49],
       [338.97, 340.66, 343.95, 342.43],
       [348.24, 343.68, 342.42, 346.13],
       [343.13, 345.45, 347.98, 351.14],
       [340.23, 342.8 , 345.54, 344.66],
       [351.6 , 348.57, 347.48, 349.68],
       [346.01, 344.49, 349.97, 349.63],
       [349.6 , 344.12, 347.41, 351.37],
       [348.22, 346.62, 341.94, 341.27],
       [347.77, 344.31, 349.62, 345.99],
       [350.63, 346.41, 347.25, 350.63],
       [340.26, 344.99, 346.34, 342.29],
       [348.91, 347.09, 343.56, 340.9 ],
       [343.38, 348.78, 350.46, 345.07],
       [343.79, 343.  , 344.93, 346.33],
       [343.56, 343.89, 346.72, 346.3 ],
       [349.43, 347.91, 341.59, 343.95],
       [345.27, 343.37, 349.9 , 346.74],
       [345.43, 348.77, 347.12, 343.96],
       [344.36, 346.46, 347.56, 342.08],
       [344.96, 346.61, 340.66, 339.02],
       [347.8 , 348.64, 342.1 , 346.74],
       [349.02, 343.96, 346.99, 345.31],
       [349.03, 347.77, 343.97, 346.91],
       [345.52, 347.19, 340.71, 342.22],
       [343.07, 347.38, 349.47, 345.35],
       [341.73, 346.12, 347.13, 343.08],
       [345.88, 348.25, 349.49, 343.38],
       [344.37, 348.16, 343.27, 347.07],
       [341.74, 344.52, 339.21, 343.17],
       [344.52, 343.17, 340.64, 340.3 ],
       [343.19, 345.3 , 347.83, 346.56],
       [347.99, 346.82, 344.67, 343.39],
       [347.03, 344.58, 338.6 , 341.04],
       [347.25, 344.51, 341.9 , 344.39],
       [345.57, 349.87, 343.97, 348.27],
       [342.83, 341.14, 346.2 , 347.89],
       [349.74, 348.05, 351.09, 346.03],
       [342.19, 344.41, 350.54, 348.22],
       [346.74, 344.72, 341.68, 343.37],
       [341.74, 345.12, 347.64, 345.96],
       [350.66, 349.22, 345.6 , 347.03],
       [342.77, 344.24, 348.67, 347.19],
       [350.07, 345.45, 347.99, 344.18],
       [344.16, 346.49, 342.92, 348.18],
       [345.6 , 347.28, 350.66, 348.97],
       [347.73, 345.2 , 344.36, 341.83],
       [348.98, 346.83, 343.58, 345.9 ],
       [341.59, 347.32, 345.46, 348.5 ],
       [340.21, 344.  , 338.94, 345.27],
       [347.82, 352.47, 345.93, 353.52],
       [347.42, 345.6 , 340.95, 344.07],
       [346.98, 341.93, 344.87, 349.08],
       [351.2 , 346.77, 348.04, 353.73],
       [348.61, 350.29, 343.55, 345.24],
       [344.23, 340.69, 342.71, 346.25],
       [352.91, 347.64, 345.54, 351.23],
       [349.17, 343.95, 346.22, 350.27],
       [345.24, 342.79, 342.87, 339.92],
       [352.88, 354.15, 345.89, 346.81],
       [348.62, 342.71, 346.07, 350.29],
       [350.25, 348.16, 345.22, 346.47],
       [344.06, 341.91, 348.07, 346.42],
       [189.39, 190.17, 186.94, 192.74],
       [191.46, 184.97, 193.94, 188.87],
       [189.21, 187.77, 182.57, 182.06],
       [188.66, 192.06, 189.59, 185.99],
       [186.43, 182.57, 188.75, 184.89],
       [194.95, 192.07, 185.03, 187.19],
       [189.09, 187.54, 180.74, 182.08],
       [193.84, 191.78, 187.66, 188.9 ],
       [186.29, 188.35, 189.38, 191.43],
       [187.36, 190.66, 185.31, 185.72],
       [192.46, 190.4 , 184.22, 186.28],
       [192.25, 189.47, 184.74, 186.9 ],
       [189.25, 185.44, 190.95, 184.78],
       [192.97, 190.86, 184.53, 185.  ],
       [193.35, 190.88, 188.52, 195.31],
       [197.16, 193.04, 190.47, 186.87],
       [185.74, 188.  , 190.37, 183.37],
       [191.16, 190.02, 184.97, 186.11],
       [194.04, 191.77, 185.55, 187.3 ],
       [185.91, 188.75, 191.83, 195.69],
       [185.64, 187.74, 183.99, 190.11],
       [188.82, 189.33, 186.19, 191.96],
       [191.11, 187.41, 186.08, 188.76],
       [191.4 , 189.44, 183.73, 182.91],
       [189.86, 187.78, 192.43, 186.23],
       [194.09, 190.49, 188.74, 197.69],
       [192.24, 190.02, 185.71, 182.46],
       [194.04, 190.95, 188.63, 197.38],
       [186.52, 190.59, 188.58, 184.72],
       [187.48, 189.49, 182.24, 180.23],
       [190.14, 191.17, 183.2 , 188.85],
       [186.34, 188.5 , 182.79, 186.91],
       [185.55, 178.86, 185.03, 180.4 ],
       [191.65, 190.11, 185.47, 189.06],
       [189.57, 191.61, 183.69, 185.55],
       [185.11, 190.37, 192.92, 187.89],
       [185.33, 189.44, 188.41, 184.3 ],
       [191.71, 189.69, 183.28, 182.81],
       [186.69, 191.32, 185.36, 189.99],
       [188.01, 184.67, 181.48, 184.51],
       [191.04, 188.99, 192.69, 186.52],
       [184.77, 187.48, 194.95, 192.12],
       [186.83, 188.83, 182.4 , 180.6 ],
       [188.85, 186.38, 182.68, 184.74],
       [184.96, 189.07, 192.16, 190.1 ],
       [188.85, 189.52, 185.51, 189.47],
       [191.44, 187.21, 189.37, 185.35],
       [194.37, 192.62, 188.19, 189.94],
       [188.37, 190.38, 184.46, 189.04],
       [181.77, 188.46, 185.38, 183.83],
       [182.53, 184.33, 189.74, 187.94],
       [193.65, 188.01, 191.12, 186.47],
       [185.27, 182.89, 180.11, 178.37],
       [184.91, 187.75, 183.39, 189.81],
       [189.35, 191.62, 183.69, 185.75],
       [187.46, 189.52, 193.63, 191.57],
       [185.91, 189.77, 192.35, 194.15],
       [190.06, 186.98, 185.95, 182.86],
       [191.58, 188.96, 185.  , 187.83],
       [184.03, 191.03, 188.77, 192.47],
       [189.43, 195.11, 187.13, 196.39],
       [194.29, 188.89, 190.43, 197.38],
       [187.53, 184.24, 181.36, 182.59],
       [186.59, 182.27, 184.74, 189.06],
       [195.65, 189.22, 186.65, 193.59],
       [186.28, 183.3 , 183.4 , 179.8 ],
       [192.68, 185.47, 189.59, 188.56],
       [196.35, 197.89, 187.81, 188.94],
       [192.4 , 189.85, 186.27, 187.79]])

In [43]:
Y

array([1080.92, 1069.69, 1077.18, 1070.35, 1062.19, 1080.92, 1071.55,
       1074.43, 1076.47, 1080.55, 1066.26, 1077.18, 1075.3 , 1080.92,
       1086.54, 1088.09, 1068.3 , 1071.55, 1078.5 , 1075.3 , 1082.8 ,
       1069.69, 1080.92, 1064.06, 1071.56, 1075.31, 1079.05, 1079.05,
       1077.17, 1066.27, 1072.39, 1080.92, 1080.92, 1073.44, 1079.06,
       1075.3 , 1073.43, 1068.31, 1073.43, 1065.94, 1071.54, 1077.17,
       1073.43, 1077.17, 1075.31, 1064.23, 1067.8 , 1079.05, 1082.79,
       1082.79, 1079.11, 1067.81, 1076.48, 1086.54, 1077.17, 1073.43,
       1077.18, 1082.8 , 1079.04, 1084.66, 1074.42, 1077.18, 1077.18,
       1080.92, 1075.3 , 1079.05, 1070.35, 1073.42, 1065.93, 1075.31,
       1079.05, 1080.92, 1073.43, 1073.43, 1062.2 , 1390.1 , 1382.87,
       1387.69, 1375.65, 1380.46, 1386.99, 1394.92, 1384.38, 1389.62,
       1382.86, 1375.64, 1394.91, 1373.23, 1384.36, 1366.01, 1380.47,
       1387.7 , 1373.23, 1397.33, 1390.1 , 1392.5 , 1378.05, 1387.69,
       1394.92, 1373.88, 1380.46, 1387.69, 1378.05, 1380.47, 1382.88,
       1385.28, 1385.28, 1380.46, 1371.25, 1385.28, 1385.28, 1387.68,
       1375.64, 1385.27, 1378.06, 1387.  , 1382.87, 1368.64, 1368.63,
       1382.88, 1382.87, 1371.25, 1378.05, 1387.68, 1378.06, 1394.91,
       1385.36, 1376.51, 1380.46, 1392.51, 1382.87, 1387.69, 1381.75,
       1392.51, 1379.12, 1385.29, 1382.87, 1368.42, 1399.74, 1378.04,
       1382.86, 1399.74, 1387.69, 1373.88, 1397.32, 1389.61, 1370.82,
       1399.73, 1387.69, 1390.1 , 1380.46,  759.24,  759.24,  741.61,
        756.3 ,  742.64,  759.24,  739.45,  762.18,  755.45,  749.05,
        753.36,  753.36,  750.42,  753.36,  768.06,  767.54,  747.48,
        752.26,  758.66,  762.18,  747.48,  756.3 ,  753.36,  747.48,
        756.3 ,  771.01,  750.43,  771.  ,  750.41,  739.44,  753.36,
        744.54,  729.84,  756.29,  750.42,  756.29,  747.48,  747.49,
        753.36,  738.67,  759.24,  759.32,  738.66,  742.65,  756.29,
        753.35,  753.37,  765.12,  752.25,  739.44,  744.54,  759.25,
        726.64,  745.86,  750.41,  762.18,  762.18,  745.85,  753.37,
        756.3 ,  768.06,  770.99,  735.72,  742.66,  765.11,  732.78,
        756.3 ,  770.99,  756.31])

In [44]:
from sklearn.model_selection import*
X_train, X_test, Y_train, Y_test=train_test_split(X,Y, test_size=0.3)

In [45]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, Y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [46]:
Y_pred=regressor.predict(X_test)

In [47]:
result=pd.DataFrame({'Actual':Y_test, 'Predicted':Y_pred})
result

     Actual  Predicted
0    755.45     756.30
1   1073.44    1071.55
2   1394.91    1387.69
3   1399.73    1392.51
4    753.36     744.54
..      ...        ...
61  1077.18    1077.17
62   753.37     756.29
63  1380.47    1380.46
64  1079.05    1078.50
65  1373.88    1378.06

[66 rows x 2 columns]

In [52]:
from sklearn.metrics import*
import math
print("Mean Absolute Error:",metrics.mean_absolute_error(Y_test,Y_pred))
print("Mean Square Error:",metrics.mean_squared_error(Y_test,Y_pred))
print("Root Mean Square Error:",math.sqrt(metrics.mean_squared_error(Y_test,Y_pred)))

Mean Absolute Error: 3.1251515151515186
Mean Square Error: 18.896863636363445
Root Mean Square Error: 4.347052292802957