<a href="https://colab.research.google.com/github/Vignesh424/WWE_Super_Card/blob/main/WWE_SuperCard_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [326]:
#import libraries
import pandas as pd
import numpy as np

In [327]:
#read data
data=pd.read_excel('/content/WWE Super Card.xlsx')

In [328]:
#shape of data
data.shape

(220, 8)

In [329]:
#data description
data.describe().round()

         POW    TGH    SPD    CHA   Total
count  220.0  220.0  220.0  220.0   220.0
mean   271.0  270.0  270.0  270.0  1081.0
std     64.0   64.0   65.0   64.0   257.0
min    182.0  179.0  180.0  178.0   727.0
25%    193.0  191.0  190.0  191.0   759.0
50%    270.0  270.0  269.0  269.0  1077.0
75%    344.0  344.0  343.0  344.0  1378.0
max    353.0  354.0  351.0  354.0  1400.0

In [330]:
#first 5 columns of data
data.head()

         Superstar  Gender     POW     TGH     SPD     CHA    Total Group
0        Adam Cole    Male  269.96  270.46  268.40  272.10  1080.92    WM
1             Akam    Male  269.85  268.93  265.62  265.29  1069.69    WM
2   Aleister Black    Male  269.03  271.20  269.62  267.33  1077.18    WM
3      Alexa Bliss  Female  268.08  265.62  269.55  267.10  1070.35    WM
4  Alexander Wolfe    Male  268.17  266.86  262.53  264.63  1062.19    WM

**Data Preparation**

In [331]:
X=data.iloc[:,2:7].values
Y=data.iloc[:,1].values

In [332]:
X

array([[ 269.96,  270.46,  268.4 ,  272.1 , 1080.92],
       [ 269.85,  268.93,  265.62,  265.29, 1069.69],
       [ 269.03,  271.2 ,  269.62,  267.33, 1077.18],
       ...,
       [ 192.68,  185.47,  189.59,  188.56,  756.3 ],
       [ 196.35,  197.89,  187.81,  188.94,  770.99],
       [ 192.4 ,  189.85,  186.27,  187.79,  756.31]])

In [333]:
Y

array(['Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female',
       'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male',
       'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female',
       'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male',
       'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female',
       'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male',
       'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female',
       'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male',
       'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male'],
      dtype=object)

In [334]:
from sklearn.model_selection import train_test_split
X_test, X_train, Y_test, Y_train= train_test_split(X,Y, test_size=0.3)

In [335]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression(random_state=0)
logreg.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [336]:
Y_pred=logreg.predict(X_test)

In [337]:
from sklearn.metrics import*
cm=confusion_matrix(Y_test, Y_pred)
asc=accuracy_score(Y_test, Y_pred)
clr=classification_report(Y_test, Y_pred)

In [338]:
print("Confusion Matrix")
print(cm)

Confusion Matrix
[[  1  31]
 [  8 114]]

In [339]:
print("Accuracy Score")
print(asc)

Accuracy Score
0.7467532467532467

In [340]:
print("Classification Report")
print(clr)

Classification Report
              precision    recall  f1-score   support

      Female       0.11      0.03      0.05        32
        Male       0.79      0.93      0.85       122

    accuracy                           0.75       154
   macro avg       0.45      0.48      0.45       154
weighted avg       0.65      0.75      0.69       154